<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <span>
                <MudButton StartIcon="@Icons.Material.Filled.CreditCard" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">@FormName</MudButton>
                <a class="float-end">
                    <MudTooltip Text="Regresar" Color="Color.Tertiary" Placement="Placement.Bottom">
                        <MudFab StartIcon="@Icons.Material.Filled.Undo" href="/products/" Size="Size.Small" Color="Color.Tertiary" />
                    </MudTooltip>
                </a>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="my-3">
                        <MudTextField @bind-Value="Product.Name" Label="Nombre" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CreditCard" Clearable="true" />
                        <ValidationMessage For="@(() => Product.Name)" />
                    </div>
                    <div class="my-3">
                        <MudSelect @bind-Value="@Product.ProductType" Label="Tipo de producto" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LibraryAddCheck" Clearable="true">
                            <MudSelectItem Value="@("Activo")" />
                            <MudSelectItem Value="@("Pasivo")" />
                            <MudSelectItem Value="@("Transaccional")" />
                        </MudSelect>
                        <ValidationMessage For="@(() => Product.ProductType)" />
                    </div>
                    <div class="my-3">
                        <MudTextField @bind-Value="Product.Term" Label="Plazo en años" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccessTime" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Product.Term)" />
                    </div>
                    <div class="my-3">
                        <MudNumericField @bind-Value="Product.Quota" Label="Cupo" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Product.Quota)"/>
                    </div>
                    <div class="my-3">
                        <MudNumericField @bind-Value="Product.Value" Label="Valor" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Product.Value)" />
                    </div>
                    <div class="my-3">
                        <MudNumericField @bind-Value="Product.Rate" Label="Tasa" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Percent" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Product.Rate)" />
                    </div>
                    <div class="my-3">
                        <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" Style="width: 100%">Guardar</MudButton>
                    </div>
                </div>

                <div class="col-1"></div>
                <div class="col-4" >
                    <MudCard Style="width: 100%; min-height: 200px; background-color: #eaeaea; padding: 0.5rem" Elevation="2">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <div style="display: flex; align-items: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.CreditCard" Title="Favorite" Style="margin-right: 0.5rem" />
                                    <MudText Typo="Typo.h6">@CardName</MudText>
                                </div>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            @if (Product.Name != null )
                            {
                                <MudItem>
                                    Nombre de producto: <b>@Product.Name</b> 
                                </MudItem>
                            }
                             @if(Product.ProductType != null)
                            {
                                <MudItem>
                                    Tipo de producto: <b>@Product.ProductType</b>
                                </MudItem>
                            }
                            @if (Product.Term != null)
                            {
                                <MudItem>
                                    Plazo: <b>$ @Product.Term</b>
                                </MudItem>
                            }
                            @if (Product.Quota != 0)
                            {
                                <MudItem>
                                    Cupo: <b>$ @Product.Quota</b>
                                </MudItem>
                            }
                            @if (Product.Value != null)
                            {
                                <MudItem>
                                    Valor: <b>$ @Product.Value</b>
                                </MudItem>
                            }
                            @if (Product.Rate != null)
                            {
                                <MudItem>
                                    Tasa: <b>$ @Product.Rate</b>
                                </MudItem>
                            }
                        </MudCardContent>
                    </MudCard>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</EditForm>