<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <span>
                <i class="oi oi-star" /> Crear Nuevo Producto
                <a class="btn btn-sm btn-success float-end" href="/products"><i class="oi oi-arrow-thick-left" /> Regresar</a>
                <button class="btn btn-sm btn-primary float-end mx-2" type="submit"><i class="oi oi-check" /> Test Guardar Cambios</button>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label>Nombre:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@Product.Name" />
                            <ValidationMessage For="@(() => Product.Name)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Tipo de Producto:</label>
                        <div>
                            <InputSelect class="form-control" @bind-Value="@Product.ProductType">
                                <option value="Activo">Activo</option>
                                <option value="Pasivo">Pasivo</option>
                                <option value="Transaccional">Transaccional</option>
                            </InputSelect>
                            <ValidationMessage For="@(() => Product.ProductType)" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Cupo:</label>
                        <div>
                            <InputNumber class="form-control" @bind-Value="@Product.Quota" />
                            <ValidationMessage For="@(() => Product.Quota)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Plazo en años:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@Product.Term" />
                            <ValidationMessage For="@(() => Product.Term)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Valor:</label>
                        <div>
                            <InputNumber class="form-control" @bind-Value="@Product.Value" />
                            <ValidationMessage For="@(() => Product.Value)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Tasa:</label>
                        <div>
                            <InputNumber class="form-control" @bind-Value="@Product.Rate" />
                            <ValidationMessage For="@(() => Product.Rate)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>