@page "/products"

<div class="card">
    <div class="card-header">
        <span>
            <MudButton StartIcon="@Icons.Material.Filled.CreditCard" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">Productos</MudButton>
            <a class="float-end">
                <MudTooltip Text="Crear producto" Color="Color.Tertiary" Placement="Placement.Bottom">
                    <MudFab StartIcon="@Icons.Material.Filled.Add" href="/products/create" Size="Size.Small" Color="Color.Tertiary" />
                </MudTooltip>
            </a>
        </span>
    </div>
    <div class="card-body">
        <div class="card-filter">
            <MudText Typo="Typo.h6">Interacciones</MudText>
            <div class="filter-container">
                <MudTextField Style="width: 300px; margin-right: 0.5rem;" T="string" @bind-Value="@Filter" Label="Buscar producto" Variant="Variant.Filled"></MudTextField>
                <MudTooltip Text="Filtrar por nombre" Color="Color.Tertiary" Placement="Placement.Top">
                    <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" Style="margin-right: 0.5rem" @onclick="ApplyFilterAsync"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Limpiar filtro" Color="Color.Tertiary" Placement="Placement.Top">
                    <MudIconButton Icon="@Icons.Material.Filled.CleaningServices" @onclick="CleanFilterAsync"></MudIconButton>
                </MudTooltip>
            </div>
        </div>
        <GenericList MyList="Products">
            <Body>
                <div class="table-container container-fluid">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-secondary table-header table-row">
                                <th class="col-1">Id</th>
                                <th class="col-2">Nombre de producto</th>
                                <th class="col-3">Tipo de producto</th>
                                <th class="col-4">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Products!)
                            {
                                <tr class="table-row">

                                    <td class="col-1">
                                        @product.Id
                                    </td>
                                    <td class="col-2">
                                        @product.Name
                                    </td>
                                    <td class="col-3">
                                        @product.ProductType
                                    </td>
                                    <td class="col-4">
                                        <MudTooltip Text="Ver producto" Color="Color.Tertiary" Placement="Placement.Left">
                                            <a onclick="toggleExtraRow('@product.Id')" class="btn btn-light btn-sm">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                        </MudTooltip>
                                        <MudTooltip Text="Editar producto" Color="Color.Warning" Placement="Placement.Left">
                                            <a href="/products/edit/@product.Id" class="btn btn-light btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </MudTooltip>
                                        <MudTooltip Text="Eliminar producto" Color="Color.Error" Placement="Placement.Right">
                                            <button class="btn btn-light btn-sm" @onclick="@(() => Delete(product.Id))">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </MudTooltip>
                                    </td>
                                </tr>
                                <tr colspan="7" id="extraRow_@product.Id" class="extra-row" style="display: none;">
                                    <div class="card" style="width: 100%;">
                                        <ul class="list-group list-group-flush">

                                            <li class="list-group-item card-subTitle">
                                                Información de producto:
                                                <div class="list-group-item subCard">
                                                    <span class="badge badge-pill badge-success">@product.ProductType</span>
                                                    <div>
                                                        <span class="subtitle">Cupo:</span>
                                                        <span> @product.Quota </span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Plazo:</span>
                                                        <span> @product.Term </span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Valor:</span>
                                                        <span> @product.Value </span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Tasa:</span>
                                                        <span> @product.Rate </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </Body>
        </GenericList>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordNumber="SelectedRecordsNumberAsync" />
    </div>
</div>

<script>
    function toggleExtraRow(productId) {
        var extraRow = document.getElementById("extraRow_" + productId);
        if (extraRow.style.display === "none") {
            extraRow.style.display = "block";
        } else {
            extraRow.style.display = "none";
        }
    }
</script>

