@page "/EditUser"

@if (user is null)
{
    <Loading />
}
else
{
    <EditForm Model="user" OnValidSubmit="SaveUserAsync">
        <DataAnnotationsValidator />
        <div class="card">
            <div class="card-header">
                <span>
                    <MudButton StartIcon="@Icons.Material.Filled.Person" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">Editar usuario</MudButton>
                    <a class="float-end">
                        <MudButton @onclick=@(() => ShowModal()) Variant="Variant.Filled" Color="Color.Tertiary" Style="color:white; margin-left: 1rem">Cambiar contraseña</MudButton>
                    </a>
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div style="padding-bottom: 1rem">
                            <MudTextField @bind-Value="user.FirstName" Label="Nombres:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.PermIdentity" Clearable="true" />
                            <ValidationMessage For="@(() => user.FirstName)" />
                        </div>
                        <div style="padding-bottom: 1rem">
                            <MudTextField @bind-Value="user.LastName" Label="Apellidos:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.PermIdentity" Clearable="true" />
                            <ValidationMessage For="@(() => user.LastName)" />
                        </div>
                        <div style="padding-bottom: 1rem">
                            <MudTextField @bind-Value="user.Document" Label="Documento:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DocumentScanner" Disabled="true" />
                            <ValidationMessage For="@(() => user.Document)" />
                        </div>
                        <div style="padding-bottom: 1rem">
                            <MudTextField @bind-Value="user.PhoneNumber" Label="Teléfono:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Phone" Clearable="true" />
                            <ValidationMessage For="@(() => user.PhoneNumber)" />
                        </div>
                        <div style="padding-bottom: 1rem">
                            <MudTextField @bind-Value="user.Address" Label="Dirección:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LocationOn" Clearable="true" />
                            <ValidationMessage For="@(() => user.Address)" />
                        </div>
                        <div style="padding-bottom: 1rem">
                            <label>País:</label>
                            <div>
                                <select class="form-select" @onchange="CountryChangedAsync" style="height: 56px;">
                                    <option value="0">-- Seleccione un país --</option>
                                    @if (countries is not null)
                                    {
                                        @foreach (var country in countries)
                                        {
                                            <option value="@country.Id" selected="@(country.Id == user.City!.State!.Country!.Id)">@country.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div style="padding-bottom: 1rem">
                            <label>Estado/Departamento:</label>
                            <div>
                                <select class="form-select" @onchange="StateChangedAsync" style="height: 56px;">
                                    <option value="0">-- Seleccione un estado/departamento --</option>
                                    @if (states is not null)
                                    {
                                        @foreach (var state in states)
                                        {
                                            <option value="@state.Id" selected="@(state.Id == user.City!.State!.Id)">@state.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div style="padding-bottom: 1rem">
                            <label>Ciudad:</label>
                            <div>
                                <select class="form-select" @bind="user.CityId" style="height: 56px;">
                                    <option value="0">-- Seleccione una ciudad --</option>
                                    @if (cities is not null)
                                    {
                                        @foreach (var city in cities)
                                        {
                                            <option value="@city.Id" selected="@(city.Id == user.City!.Id)">@city.Name</option>
                                        }
                                    }
                                </select>
                                <ValidationMessage For="@(() => user.CityId)" />
                            </div>
                        </div>
                        <div style="padding-bottom: 1rem">
                            <MudTextField @bind-Value="user.Address" Label="Dirección:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddTask" Clearable="true" />
                            <ValidationMessage For="@(() => user.Address)" />
                        </div>
                        <div style="padding-bottom: 1rem">
                            <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mt-3 mb-2">
                        <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" Style="width: 100%">Guardar</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}
