@page "/Login"

<div class="row mt-5">
    <div class="col-12" style="display: flex; justify-content: center; align-content: center;">
        <EditForm Model="loginDto" OnValidSubmit="LoginAsync">
            <DataAnnotationsValidator />
            <div class="card my-3 shadow rounded" style="max-width: 700px;">
                <div class="row g-0">
                    <div class="col-md-4" style="display:flex; margin:auto;">
                        <img src="/interacoop.png" class="img-fluid rounded-start" alt="Logo de InteraCoop.">
                    </div>
                    <div class="col-md-8">
                        <div style="display: flex; justify-content: center; margin-top: 2rem">
                            <h5 style="font-weight: 600; justify-content: center; align-content: center; letter-spacing: 4px; padding-top: 13px; text-align: center; font-size: 22px">
                                Iniciar Sesión
                            </h5>
                            <MudFab Style="position: absolute; top: 5px; right: 5px;" StartIcon="@Icons.Material.Filled.Close" @onclick=@(() => CloseModalAsync()) Size="Size.Small" Color="Color.Error" />
                        </div>
                        <div class="card-body">
                            <div style="margin-top: 1.5rem;">
                                <label style="margin-bottom:0.5rem; font-size: 11pt; letter-spacing: 2px">Email:</label>
                                <InputText class="form-control" @bind-Value="@loginDto.Email" />
                                <ValidationMessage For="@(() => loginDto.Email)" />
                            </div>
                            <div style="margin-top: 1.5rem;">
                                <label style="margin-bottom:0.5rem; font-size: 11pt; letter-spacing: 2px">Contraseña:</label>
                                <InputText type="password" class="form-control" @bind-Value="@loginDto.Password" />
                                <ValidationMessage For="@(() => loginDto.Password)" />
                            </div>
                            <a style="color: #1EC8A5; font-size: 10pt; margin-top: 8px; display: flex; justify-content: flex-end; cursor: pointer" @onclick=@(() => ShowModalRecover())>
                                ¿Olvidaste tu contraseña?
                            </a>
                            <div style="display:flex; justify-content: center; margin-top: 1.5rem;">
                                <MudButton StartIcon="@Icons.Material.Filled.ArrowForward" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" Style="width: 100%" @onclick=@(() => LoginAsync())>Ingresar</MudButton>
                            </div>
                        </div>
                        <div class="card-body mb-2" style="display: flex; flex-direction:column">
                            <a style="color: #1EC8A5; font-size: 10pt; text-align: center; cursor: pointer" @onclick=@(() => ShowModalRegister())>
                                Registrate aquí
                            </a>
                            <a style="color: #1EC8A5; font-size: 10pt; margin-top: 16px; text-align: center; cursor: pointer" @onclick=@(() => ShowModalActivate())>
                                Activar cuenta
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </EditForm>
    </div>
</div>



