@page "/Register"

@if (loading)
{
    <Loading />
}
else
{
    <EditForm Model="userDto" OnValidSubmit="CreateUserAsync">
        <DataAnnotationsValidator />

        <div class="card">
            <div class="card-header">
                <span>
                    <i class="bi bi-key" /> Registrar Nuevo  Usuario
                    <button class="btn btn-sm btn-primary float-end" type="submit"><i class="bi bi-person-add" /> Registrar</button>
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label>Nombres:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.FirstName" />
                                <ValidationMessage For="@(() => userDto.FirstName)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Apellidos:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.LastName" />
                                <ValidationMessage For="@(() => userDto.LastName)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Documento:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.Document" />
                                <ValidationMessage For="@(() => userDto.Document)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Teléfono:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.PhoneNumber" />
                                <ValidationMessage For="@(() => userDto.PhoneNumber)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Dirección:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.Address" />
                                <ValidationMessage For="@(() => userDto.Address)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Email:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.Email" />
                                <ValidationMessage For="@(() => userDto.Email)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <DropList></DropList>                       
                    <div class="mb-3">
                        <label>Ciudad:</label>
                        <div>
                            <InputNumber class="form-control" @bind-Value="@userDto.CityId" />
                            <ValidationMessage For="@(() => userDto.CityId)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Foto:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@userDto.Photo" />
                            <ValidationMessage For="@(() => userDto.Photo)" />
                        </div>
                    </div>
                        <div class="mb-3">
                            <label>Contraseña:</label>
                            <div>
                                <InputText type="password" class="form-control" @bind-Value="@userDto.Password" />
                                <ValidationMessage For="@(() => userDto.Password)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Confirmación de contraseña:</label>
                            <div>
                                <InputText type="password" class="form-control" @bind-Value="@userDto.PasswordConfirm" />
                                <ValidationMessage For="@(() => userDto.PasswordConfirm)" />
                            </div>
                        </div>
                    <!--@*<div class="mb-3">
                            <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                        </div>*@-->
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}







