@page "/users"

@if (Users is null)
{
    <Loading />
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <MudButton StartIcon="@Icons.Material.Filled.SupervisedUserCircle" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">Usuarios</MudButton>
                <a class="float-end">
                    <MudTooltip Text="Crear Administrador" Color="Color.Tertiary" Placement="Placement.Bottom">
                        <MudFab StartIcon="@Icons.Material.Filled.PersonAddAlt1" Href="/register/?IsAdmin=true" Size="Size.Small" Color="Color.Tertiary" />
                    </MudTooltip>
                </a>
            </span>
        </div>
        <div class="card-body">
            <div class="card-filter">
               @*  <MudText Typo="Typo.h6">Usuarios</MudText> *@
                <Filter PlaceHolder="Nombre de usuario" Callback=@FilterCallBack />
            </div>
            <GenericList MyList="Users">
                <Body>
                    <div class="table-container container-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-secondary table-header table-row">
                                    <th class="col-1" style="width: 20%;">Imagen</th>
                                    <th class="col-2" style="width: 20%;">Nombre</th>
                                    <th class="col-3" style="width: 20%;">Documento</th>
                                    <th class="col-4" style="width: 20%;">Email</th>
                                    <th class="col-5" style="width: 20%;">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Users!)
                                {
                                    <tr class="table-row">
                                        <td class="col-1" style="width: 20%;">
                                            <img src="@user.Photo" width="80" height="80" style="border-radius:50%" />
                                        </td>
                                        <td class="col-2" style="width: 20%;">
                                            @user.FullName
                                        </td>
                                        <td class="col-3" style="width: 20%;">
                                           @user.Document
                                        </td>
                                        <td class="col-4" style="width: 20%;">
                                            @user.Email
                                        </td>
                                        <td class="col-5" style="width: 20%;">
                                                @Helpers.EnumHelper.GetEnumDescription(user.UserType)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </Body>
            </GenericList>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync"
                        RecordNumber="SelectedRecordsNumberAsync" />
        </div>
    </div>
}