@page "/campaigns"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-briefcase-fill-nav-menu"></i> Campañas
            <a class="btn btn-sm btn-primary float-end btn-add" href="/campaign/create" data-toggle="tooltip" title="Crear campaña">
                <i class="bi bi-plus"></i> Campaña
            </a>
        </span>
    </div>

    <div class="card-body">
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <div>
                <input style="width: 400px;" type="text" class="form-control" id="titulo"
                       placeholder="Buscar campaña..." @bind-value="Filter" />
            </div>
            <div class="mx-1">
                <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync" data-toggle="tooltip" title="Filtrar"><i class="bi bi-funnel" /></button>
                <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync" data-toggle="tooltip" title="Limpiar filtro"><i class="bi bi-arrow-clockwise" /></button>
            </div>
        </div>
        <GenericList MyList="Campaigns">
            <Body>
                <div class="table-container container-fluid">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-secondary table-header table-row">
                                <th class="col-1">Id campaña</th>
                                <th class="col-2">Nombre de campaña</th>
                                <th class="col-3">Tipo de campaña</th>
                                <th class="col-4">Estado de campaña</th>
                                <th class="col-5">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var campaign in Campaigns!)
                            {
                                <tr class="table-row" onclick="toggleExtraRow('@campaign.Id')">

                                    <td class="col-1">
                                        @campaign.CampaignId
                                    </td>
                                    <td class="col-2">
                                        @campaign.CampaignName
                                    </td>
                                    <td class="col-3">
                                        @campaign.CampaignType
                                    </td>
                                    <td class="col-4">
                                        <span class="badge text-bg-primary">
                                            @campaign.Status
                                        </span>
                                    </td>
                                    <td class="col-5">
                                        <a href="/campaign/edit/@campaign.Id" class="btn btn-light btn-sm"
                                           data-toggle="tooltip" title="Editar campaña">
                                            <i class="bi bi-pencil"></i>
                                        </a>

                                        <button class="btn btn-light btn-sm" @onclick="@(() => Delete(campaign.Id))"
                                                data-toggle="tooltip" title="Eliminar campaña">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr colspan="7" id="extraRow_@campaign.Id" class="extra-row" style="display: none;">
                                    <div class="card" style="width: 100%;">
                                        <ul class="list-group list-group-flush">

                                            <li class="list-group-item card-subTitle">
                                                Información de campaña:
                                                <div class="list-group-item subCard">
                                                    <span class="badge badge-pill badge-success">@campaign.Status</span>
                                                    <div>
                                                        <span class="subtitle">Fecha de inicio:</span>
                                                        <span> @campaign.StartDate.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Fecha de fin:</span>
                                                        <span> @campaign.EndDate.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Descripción:</span>
                                                        <span> @campaign.Description</span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item card-subTitle">
                                                Información de productos asociados:
                                                @if (campaign.ProductsList != null && campaign.ProductsList.Any())
                                                {
                                                    <div class="list-group">
                                                        @foreach (var product in campaign.ProductsList)
                                                        {
                                                            <div class="list-group-item subCard">
                                                                <div>
                                                                    <span class="subtitle">Nombre:</span>
                                                                    <span>@product.Name</span>
                                                                    <span class="subtitle">Valor:</span>
                                                                    <span>@product.Value</span>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="list-group-item subCard">
                                                        <a href="/campaign/edit/@campaign.Id" class="btn btn-light btn-sm">
                                                            <i class="bi bi-plus plus-icon"></i>
                                                        </a>
                                                        <span class="subtitle">Añadir productos</span>
                                                    </div>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </Body>
        </GenericList>

        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordNumber="SelectedRecordsNumberAsync" />
    </div>
</div>

<script>
    function toggleExtraRow(campaignId) {
        var extraRow = document.getElementById("extraRow_" + campaignId);
        if (extraRow.style.display === "none") {
            extraRow.style.display = "block";
        } else {
            extraRow.style.display = "none";
        }
    }
</script>


















