@page "/countries"

<div class="card">
    <div class="card-header">
        <span>
            <MudButton StartIcon="@Icons.Material.Filled.SouthAmerica" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">Paises</MudButton>
            <a class="float-end">
                <MudTooltip Text="Crear país" Color="Color.Tertiary" Placement="Placement.Bottom">
                    <MudFab StartIcon="@Icons.Material.Filled.Add" href="/countries/create" Size="Size.Small" Color="Color.Tertiary" />
                </MudTooltip>
            </a>
        </span>
    </div>
    <div class="card-body">
        <div class="card-filter">
            <MudText Typo="Typo.h6">Paises</MudText>
            <Filter PlaceHolder="Nombre de país" Callback=@FilterCallBack />
        </div>
        <GenericList MyList="Countries">
            <Body>
                <div class="table-container container-fluid">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-secondary table-header table-row">
                                <th class="col-1">País</th>
                                <th class="col-2">Departamentos</th>
                                <th class="col-3">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var country in Countries!)
                            {
                                <tr class="table-row">
                                    <td class="col-1">
                                        @country.Name
                                    </td>
                                    <td class="col-2">
                                        @country.StatesNumber
                                    </td>
                                    <td class="col-3">
                                        <MudTooltip Text="Ver detalles" Color="Color.Tertiary" Placement="Placement.Left">
                                            <a href="/countries/details/@country.Id" class="btn btn-light btn-sm">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                        </MudTooltip>
                                        <MudTooltip Text="Editar país" Color="Color.Warning" Placement="Placement.Top">
                                            <a href="/countries/edit/@country.Id" class="btn btn-light btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </MudTooltip>
                                        <MudTooltip Text="Eliminar país" Color="Color.Error" Placement="Placement.Right">
                                            <button class="btn btn-light btn-sm" @onclick="@(() => DeleteAsycn(country))">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </MudTooltip>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </Body>
        </GenericList>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordNumber="SelectedRecordsNumberAsync" />
    </div>
</div>