@page "/countries/details/{CountryId:int}"

@if (country is null)
{
    <Loading />
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <MudButton StartIcon="@Icons.Material.Filled.SouthAmerica" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">@country.Name</MudButton>
                <a class="float-end">
                    <MudTooltip Text="Regresar" Color="Color.Tertiary" Placement="Placement.Bottom">
                        <MudFab StartIcon="@Icons.Material.Filled.Undo" href="/countries" Size="Size.Small" Color="Color.Tertiary" />
                    </MudTooltip>
                    <MudTooltip Text="Adicionar departamento" Color="Color.Tertiary" Placement="Placement.Bottom">
                        <MudFab StartIcon="@Icons.Material.Filled.Add" @onclick=@(() => ShowModalAsync()) Size="Size.Small" Color="Color.Tertiary" />
                    </MudTooltip>
                </a>
            </span>
        </div>
        <div class="card-body">
            <div class="card-filter">
                <MudText Typo="Typo.h6">Departamentos</MudText>
                <Filter PlaceHolder="Nombre departamento" Callback=@FilterCallBack />
            </div>
            <GenericList MyList="states!">
                <Body>
                    <div class="table-container container-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-secondary table-header table-row">
                                    <th class="col-1">Departamento</th>
                                    <th class="col-2">Ciudades</th>
                                    <th class="col-3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var state in states!)
                                {
                                    <tr class="table-row">
                                        <td class="col-1">
                                            @state.Name
                                        </td>
                                        <td class="col-2">
                                            @state.CitiesNumber
                                        </td>
                                        <td class="col-3">
                                            <MudTooltip Text="Ver detalles" Color="Color.Tertiary" Placement="Placement.Left">
                                                <a href="/states/details/@state.Id" class="btn btn-light btn-sm">
                                                    <i class="bi bi-eye"></i>
                                                </a>
                                            </MudTooltip>
                                            <MudTooltip Text="Editar Departamento" Color="Color.Warning" Placement="Placement.Top">
                                                <a @onclick=@(() => ShowModalAsync(state.Id, true)) class="btn btn-light btn-sm">
                                                    <i class="bi bi-pencil"></i>
                                                </a>
                                            </MudTooltip>
                                            <MudTooltip Text="Eliminar Departamento" Color="Color.Error" Placement="Placement.Right">
                                                <button class="btn btn-light btn-sm" @onclick="@(() => DeleteAsync(state))">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </MudTooltip>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </Body>
            </GenericList>
             <Pagination CurrentPage="currentPage"
                                TotalPages="totalPages"
                                SelectedPage="SelectedPageAsync" />
        </div>
    </div>
}







