@page "/interactions"

<div class="card">
    <div class="card-header">
        <span>
            <MudButton StartIcon="@Icons.Material.Filled.PeopleAlt" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">Interacciones</MudButton>
            <a class="float-end">
                <MudTooltip Text="Crear interacción" Color="Color.Tertiary" Placement="Placement.Bottom">
                    <MudFab StartIcon="@Icons.Material.Filled.Add" href="/interaction/create" Size="Size.Small" Color="Color.Tertiary"/>
                </MudTooltip>
            </a>
        </span>
    </div>
    <div class="card-body">
        <div class="card-filter">
            <MudText Typo="Typo.h6">Interacciones</MudText>
            <Filter PlaceHolder="Tipo de Interacción" Callback=@FilterCallBack OptionsList="InteractionTypes" />
        </div>
        <GenericList MyList="Interactions">
            <Body>
                <div class="table-container container-fluid">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-secondary table-header table-row">
                                <th class="col-1">Tipo de interacción</th>
                                <th class="col-2">Fecha de inicio</th>
                                <th class="col-3">Fecha de fin</th>
                                <th class="col-4">Cliente de Interacción</th>
                                <th class="col-5">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var interaction in Interactions!)
                            {
                                <tr class="table-row">
                                    <td class="col-1">
                                        <span class="badge text-bg-primary">
                                            @interaction.InteractionType
                                        </span>
                                    </td>
                                    <td class="col-2">
                                        @interaction.StartDate.ToString("dd/MM/yyyy")
@*                                         - @interaction.StartDate.ToString("hh:mm tt")
 *@                                    </td>
                                    <td class="col-3">
                                        @interaction.EndDate.ToString("dd/MM/yyyy")
@*                                         - @interaction.EndDate.ToString("hh:mm tt")
 *@                                    </td>
                                    <td class="col-4">
                                        @if (interaction.ClientsList!= null)
                                        {
                                            @foreach (var client in interaction.ClientsList)
                                            {
                                                @client.Name
                                            }
                                        }
                                    </td>
                                    <td class="col-5">
                                        <MudTooltip Text="Ver interacción" Color="Color.Tertiary" Placement="Placement.Left">
                                            <a onclick="toggleExtraRow('@interaction.Id')" class="btn btn-light btn-sm">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                        </MudTooltip>
                                        <MudTooltip Text="Editar interacción" Color="Color.Warning" Placement="Placement.Top">
                                            <a href="/interaction/edit/@interaction.Id" class="btn btn-light btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </MudTooltip>
                                        <MudTooltip Text="Eliminar interacción" Color="Color.Error" Placement="Placement.Right">
                                            <button class="btn btn-light btn-sm" @onclick="@(() => Delete(interaction.Id))">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </MudTooltip>
                                    </td>
                                </tr>
                                <tr colspan="7" id="extraRow_@interaction.Id" class="extra-row" style="display: none;">
                                    <div class="card" style="width: 100%;">
                                        <ul class="list-group list-group-flush">

                                            <li class="list-group-item card-subTitle">
                                                Información de Interacción:
                                                <div class="list-group-item subCard">
                                                    <span class="badge badge-pill badge-success">@interaction.InteractionType</span>
                                                    <div>
                                                        <span class="subtitle">Fecha de inicio:</span>
                                                        <span> @interaction.StartDate.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Fecha de fin:</span>
                                                        <span> @interaction.EndDate.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Observaciones:</span>
                                                        <span> @interaction.ObservationsInteraction</span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Oficina:</span>
                                                        <span> @interaction.Office</span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Dirección:</span>
                                                        <span> @interaction.Address</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item card-subTitle">
                                                Información de cliente:
                                                @if (interaction.ClientsList != null && interaction.ClientsList.Any())
                                                {
                                                    <div class="list-group">
                                                        @foreach (var client in interaction.ClientsList)
                                                        {
                                                            <div class="list-group-item subCard">
                                                                <div>
                                                                    <span class="subtitle">Nombre:</span>
                                                                    <span>@client.Name</span>
                                                                </div>
                                                                <div>
                                                                    <span class="subtitle">Tipo de documento:</span>
                                                                    <span>@client.DocumentType</span>
                                                                </div>
                                                                <div>
                                                                    <span class="subtitle">Documento:</span>
                                                                    <span> @client.Document </span>
                                                                </div>
                                                                <div>
                                                                    <span class="subtitle">Ciudad:</span>
                                                                    <span>@client.City</span>
                                                                </div>
                                                                <div>
                                                                    <span class="subtitle">Teléfono:</span>
                                                                    <span>@client.Telephone</span>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <MudTooltip Text="Añadir cliente" Color="Color.Tertiary" Placement="Placement.Top">
                                                        <a href="/interaction/edit/@interaction.Id" class="btn btn-light btn-sm">
                                                            <i class="bi bi-plus plus-icon"></i>
                                                        </a>
                                                        <span class="subtitle">Añadir cliente</span>
                                                    </MudTooltip>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </Body>
        </GenericList>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordNumber="SelectedRecordsNumberAsync" />
    </div>
</div>

<script>
    function toggleExtraRow(interactionId) {
        var extraRow = document.getElementById("extraRow_" + interactionId);
        if (extraRow.style.display === "none") {
            extraRow.style.display = "block";
        } else {
            extraRow.style.display = "none";
        }
    }
</script>



















