<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnDataAnnotationsValidatedAsync">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <span>
                <MudButton StartIcon="@Icons.Material.Filled.PeopleAlt" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">@FormName</MudButton>
                <a class="float-end">
                    <MudTooltip Text="Regresar" Color="Color.Tertiary" Placement="Placement.Bottom">
                        <MudFab StartIcon="@Icons.Material.Filled.Undo" href="/interactions/" Size="Size.Small" Color="Color.Tertiary" />
                    </MudTooltip>
                </a>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div style="padding-bottom: 1rem;">
                        <MudSelect @bind-Value="@Interaction.InteractionType" Placeholder="Seleccione estado" Label="Tipo de Interacción:" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LibraryAddCheck" Clearable="true">
                            <MudSelectItem Value="@("Visita a cliente")" />
                            <MudSelectItem Value="@("Visita en oficina")" />
                            <MudSelectItem Value="@("Llamada entrante")" />
                            <MudSelectItem Value="@("Llamada saliente")" />
                        </MudSelect>
                        <ValidationMessage For="@(() => Interaction.InteractionType)" />
                    </div>            
                    <div style="padding-bottom: 1rem;">
                        <MudTextField @bind-Value="Interaction.Address" Label="Dirección:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddLocationAlt" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Interaction.Address)" />
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <MudTextField @bind-Value="Interaction.Office" Label="Oficina:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LocationCity" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Interaction.Office)" />
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <MudTextField @bind-Value="Interaction.ObservationsInteraction" Label="Observaciones:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.NoteAlt" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Interaction.ObservationsInteraction)" />
                    </div>
                    <div style="display:flex; padding-bottom: 1rem;">
                        <div style="width: 50%; display: flex; flex-direction: column; align-items: flex-start">
                            <label>Fecha inicio:</label>
                            <div style="width: 95%">
                                <InputDate class="form-control" style="height: 56px" @bind-Value="@Interaction.StartDate" />
                                <ValidationMessage For="@(() => Interaction.StartDate)" />
                            </div>
                        </div>
                        <div style="width: 50%; display: flex; flex-direction: column; align-items: flex-start">
                            <label>Fecha fin:</label>
                            <div style="width: 100%">
                                <InputDate class="form-control" style="height: 56px" @bind-Value="@Interaction.EndDate" />
                                <ValidationMessage For="@(() => Interaction.EndDate)" />
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <div style="padding-bottom: 1rem;">
                            <MudNumericField T="int?" Value="Document" Label="Documento cliente:" Variant="Variant.Outlined"
                                             Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddLocationAlt"
                                             Clearable="true" HideSpinButtons="true" ValueChanged="@(async e => await OnDocumentChanged(e))" />
                        </div>
                        <MudTextField Value="@clientName" Label="Cliente:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LocationCity" Disabled="true" />
                        <ValidationMessage For="@(() => Interaction.ClientId)" />


@*                         <label>Cliente:</label>
                        <div>
                            <select id="campaign" class="form-select" @bind="Interaction.ClientId" style="height: 56px">
                                <option value="">Seleccione cliente</option>
                                @foreach (var cli in Clients)
                                {
                                    <option value="@cli.Id">@cli.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => Interaction.ClientId)" />
                        </div> *@
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" Style="width: 100%">Guardar</MudButton>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <MudCard Style="width: 100%; min-height: 200px; background-color: #eaeaea; padding: 0.5rem" Elevation="2">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <div style="display: flex; align-items: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.CreditCard" Title="Favorite" Style="margin-right: 0.5rem" />
                                    <MudText Typo="Typo.h6">@CardName</MudText>
                                </div>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            @if (Interaction.InteractionType != null )
                            {
                                <MudItem>
                                    Tipo: <b>@Interaction.InteractionType</b> 
                                </MudItem>
                            }
                            @if (Interaction.Address != null)
                            {
                                <MudItem>
                                    Dirección: <b>@Interaction.Address</b>
                                </MudItem>
                            }
                            @if (Interaction.Office != null)
                            {
                                <MudItem>
                                    Oficina: <b>@Interaction.Office</b>
                                </MudItem>
                            }
                            @if (Interaction.ObservationsInteraction != null)
                            {
                                <MudItem>
                                    Observaciones: <b>@Interaction.ObservationsInteraction</b>
                                </MudItem>
                            }
                            @if (Interaction.StartDate != null)
                            {
                                <MudItem>
                                    Inicio: <b>@Interaction.StartDate.ToString("dd/MM/yyyy")</b>
                                </MudItem>
                            }
                            @if (Interaction.EndDate != null)
                            {
                                <MudItem>
                                    Fin: <b>@Interaction.EndDate.ToString("dd/MM/yyyy")</b>
                                </MudItem>
                            }
                            @if (Interaction?.ClientId!= null && Interaction?.ClientId!= 0)
                            {
                                <MudItem>
                                    Cliente: <b>@Clients?.FirstOrDefault(x => x.Id == Interaction?.ClientId)?.Name (@Clients?.FirstOrDefault(x => x.Id == Interaction?.ClientId)?.DocumentType: @Clients?.FirstOrDefault(x => x.Id == Interaction?.ClientId)?.Document)</b>
                                </MudItem>
                            }
                        </MudCardContent>
                    </MudCard>
                </div>
                <div class="col-1"></div>
            </div>
  
        </div>
    </div>
</EditForm>