<div class="col-4" style="display: flex; flex-direction: column; align-items:flex-start">
    <label style="margin-bottom:0.25rem; font-size: 11pt; letter-spacing: 2px">País:</label>
    <select class="form-select" @onchange="CountryChangeAsync">
        <option value="0">Seleccione país</option>
            @if (countries is not null)
            {
                @foreach (var country in countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            }
    </select>
</div>
<div class="col-4" style="display: flex; flex-direction: column; align-items:flex-start">
    <label style ="margin-bottom:0.25rem; font-size: 11pt; letter-spacing: 2px">Departamento:</label>
    <select class="form-select" @onchange="StateChangedAsync">
        <option value="0">Seleccione departamento</option>
            @if (states is not null)
            {
                @foreach (var state in states)
                {
                    <option value="@state.Id">@state.Name</option>
                }
            }
    </select>
</div>
<div class="col-4" style="display: flex; flex-direction: column; align-items:flex-start">
    <label style="margin-bottom:0.25rem; font-size: 11pt; letter-spacing: 2px">Ciudad:</label>
    <select class="form-select" @bind="userDto.CityId">
        <option value="0">Seleccione una ciudad</option>
            @if (cities is not null)
            {
                @foreach (var city in cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            }
    </select>
    <ValidationMessage For="@(() => userDto.CityId)"/>
</div>
