<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <span>
                <MudButton StartIcon="@Icons.Material.Filled.AssignmentTurnedIn" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">@FormName</MudButton>
                <a class="float-end">
                    <MudTooltip Text="Regresar" Color="Color.Tertiary" Placement="Placement.Bottom">
                        @if (@FormName.ToLower().Contains("editar"))
                        {
                            <MudFab StartIcon="@Icons.Material.Filled.Undo" href="/opportunities/" Size="Size.Small" Color="Color.Tertiary" />

                        }
                        @if (@FormName.ToLower().Contains("crear"))
                        {
                            <MudFab StartIcon="@Icons.Material.Filled.Undo" href="/interactions/" Size="Size.Small" Color="Color.Tertiary" />

                        }
                    </MudTooltip>
                </a>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div style="padding-bottom: 1rem;">
                        <MudSelect @bind-Value="@Opportunity.Status" Placeholder="Seleccione estado" Label="Estado de oportunidad:" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LibraryAddCheck" Clearable="true">
                            <MudSelectItem Value="@("Formalizada")" />
                            <MudSelectItem Value="@("En trámite")" />
                            <MudSelectItem Value="@("Desestimada")" />
                        </MudSelect>
                        <ValidationMessage For="@(() => Opportunity.Status)" />
                    </div>
                    <div style="padding-bottom: 1rem">
                        <MudTextField @bind-Value="Opportunity.OpportunityObservations" Label="Observaciones:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.NoteAlt" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Opportunity.OpportunityObservations)" />
                    </div>
                    <div style="padding-bottom: 1rem">
                        <label>Fecha estimada de adquisición:</label>
                        <div>
                            <InputDate class="form-control" style="height: 56px" @bind-Value="@Opportunity.EstimatedAcquisitionDate" />
                            <ValidationMessage For="@(() => Opportunity.EstimatedAcquisitionDate)" />
                        </div>
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <label>Campaña:</label>
                        <div>
                            <select id="campaign" class="form-select" @bind="Opportunity.CampaignId" style="height: 56px">
                                <option value="">Seleccione campaña</option>
                                @foreach (var camp in Campaigns)
                                {
                                    <option value="@camp.Id">@camp.CampaignName</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => Opportunity.CampaignId)" />
                        </div>
                    </div>
                    <div style="padding-bottom: 1rem">
                        <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" Style="width: 100%">Guardar</MudButton>
                    </div>
                </div>

                <div class="col-1"></div>
                <div class="col-4">
                    <MudCard Style="width: 100%; min-height: 200px; background-color: #eaeaea; padding: 0.5rem" Elevation="2">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <div style="display: flex; align-items: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.AssignmentTurnedIn" Title="Favorite" Style="margin-right: 0.5rem" />
                                    <MudText Typo="Typo.h6">@CardName</MudText>
                                </div>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            @if (Opportunity.Status!= null)
                            {
                                <MudItem>
                                    Estado de oportunidad: <b>@Opportunity.Status</b>
                                </MudItem>
                            }
                            @if (Opportunity.OpportunityObservations != null)
                            {
                                <MudItem>
                                    Observaciones: <b>@Opportunity.OpportunityObservations</b>
                                </MudItem>
                            }
                            @if (Opportunity.EstimatedAcquisitionDate != null)
                            {
                                <MudItem>
                                    Fecha estimada de adquisición: <b>@Opportunity.EstimatedAcquisitionDate.ToString("dd/MM/yyyy")</b>
                                </MudItem>
                            }
                            @if (Opportunity?.CampaignId != null && Opportunity?.CampaignId != 0)
                            {
                                    <MudItem>
                                        Campaña: <b>@Campaigns?.FirstOrDefault(x => x.Id == Opportunity?.CampaignId)?.CampaignName</b>
                                    </MudItem>
                            }
                        </MudCardContent>
                    </MudCard>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>

</EditForm>