<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnDataAnnotationsValidatedAsync">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <span>
                <MudButton StartIcon="@Icons.Material.Filled.AssignmentTurnedIn" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">@FormName</MudButton>
                <a class="float-end">
                    <MudTooltip Text="Regresar" Color="Color.Tertiary" Placement="Placement.Bottom">
                        @if (@FormName.ToLower().Contains("editar"))
                        {
                            <MudFab StartIcon="@Icons.Material.Filled.Undo" href="/opportunities/" Size="Size.Small" Color="Color.Tertiary" />

                        }
                        @if (@FormName.ToLower().Contains("crear"))
                        {
                            <MudFab StartIcon="@Icons.Material.Filled.Undo" href="/interactions/" Size="Size.Small" Color="Color.Tertiary" />

                        }
                    </MudTooltip>
                </a>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div style="padding-bottom: 1rem">
                        <MudTextField @bind-Value="Opportunity.Status" Label="Estado:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddTask" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Opportunity.Status)" />
                    </div>
                    <div style="padding-bottom: 1rem">
                        <MudTextField @bind-Value="Opportunity.OpportunityObservations" Label="Observaciones:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.NoteAlt" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Opportunity.OpportunityObservations)" />
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <MudSelect @bind-Value="@Opportunity.Status" Label="Estado de oportunidad:" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LibraryAddCheck" Clearable="true">
                            <MudSelectItem Value="@("Formalizada")" />
                            <MudSelectItem Value="@("En trámite")" />
                            <MudSelectItem Value="@("Desestimada")" />
                        </MudSelect>
                        <ValidationMessage For="@(() => Opportunity.Status)" />
                    </div>
                    <div style="padding-bottom: 1rem">
                        <label>Fecha estimada de adquisición:</label>
                        <div>
                            <InputDate class="form-control" style="height: 56px" @bind-Value="@Opportunity.EstimatedAcquisitionDate" />
                            <ValidationMessage For="@(() => Opportunity.EstimatedAcquisitionDate)" />
                        </div>
                    </div>
                </div>
                <div class="col-6" style="display: inline-grid">
                    <label>Campaña:</label>
                    <div>
                        <Selector NonSelected="nonSelected" Selected="selected" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">
                    <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" Style="width: 100%">Guardar</MudButton>
                </div>
            </div>
        </div>
    </div>

</EditForm>