@page "/opportunities"

<div class="card">
    <div class="card-header">
        <span>
            <MudButton StartIcon="@Icons.Material.Filled.AssignmentTurnedIn" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">Oportunidades</MudButton>
            <a class="float-end">
                <MudTooltip Text="Crear oportunidad" Color="Color.Tertiary" Placement="Placement.Bottom">
                    <MudFab StartIcon="@Icons.Material.Filled.Add" href="/opportunity/create" Size="Size.Small" Color="Color.Tertiary" />
                </MudTooltip>
            </a>
        </span>
    </div>
    <div class="card-body">
        <div class="card-filter">
            <MudText Typo="Typo.h6">Oportunidades</MudText>
            <Filter PlaceHolder="Estado de oportunidad" Callback=@FilterCallBack OptionsList="OpportunityStatus"/>

        </div>
        <GenericList MyList="Opportunities">
            <Body>
                <div class="table-container container-fluid">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-secondary table-header table-row">
                                <th class="col-1" style="width: 20%">Estado de oportunidad</th>
                                <th class="col-2" style="width: 20%">Fecha de registro</th>
                                <th class="col-3" style="width: 20%">Nombre de campaña</th>
                                <th class="col-4" style="width: 20%">Nombre de cliente</th>
                                <th class="col-5" style="width: 20%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var opportunity in Opportunities!)
                            {
                                <tr class="table-row">
                                    <td class="col-1" style="width: 20%">
                                        <span class="badge text-bg-primary">@opportunity.Status</span>
                                    </td>
                                    <td class="col-2" style="width: 20%">
                                        @opportunity.RecordDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="col-3" style="width: 20%">
                                        @opportunity.Campaign.CampaignName
                                    </td>
                                    <td class="col-4" style="width: 20%">
                                        @opportunity.Interaction.Client.Name
                                    </td>
                                    <td class="col-5" style="width: 20%; gap: 0.725rem">
                                        <MudTooltip Text="Ver oportunidad" Color="Color.Tertiary" Placement="Placement.Left">
                                            <a onclick="toggleExtraRow('@opportunity.Id')" class="btn btn-light btn-sm">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                        </MudTooltip>
                                        <MudTooltip Text="Editar oportunidad" Color="Color.Warning" Placement="Placement.Top">
                                            <a href="/opportunity/edit/@opportunity.Id" class="btn btn-light btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </MudTooltip>
                                        <MudTooltip Text="Eliminar oportunidad" Color="Color.Error" Placement="Placement.Right">
                                            <button class="btn btn-light btn-sm" @onclick="@(() => Delete(opportunity.Id))">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </MudTooltip>
                                    </td>
                                </tr>
                                <tr colspan="7" id="extraRow_@opportunity.Id" class="extra-row" style="display: none;">
                                    <div class="card" style="width: 100%;">
                                        <ul class="list-group list-group-flush">

                                            <li class="list-group-item card-subTitle">
                                                 Información de oportunidad:
                                                <div class="list-group-item subCard">
                                                    <span class="badge badge-pill badge-success">@opportunity.Status</span>
                                                    <div>
                                                        <span class="subtitle">Fecha estimada de adquisición:</span>
                                                        <span> @opportunity.EstimatedAcquisitionDate.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Observaciones:</span>
                                                        <span> @opportunity.OpportunityObservations</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item card-subTitle">
                                                Información de interacción:
                                                <div class="list-group-item subCard">
                                                    <span class="badge badge-pill badge-success">@opportunity.Interaction.InteractionType</span>
                                                    <div>
                                                        <span class="subtitle">Cliente:</span>
                                                        <span> @opportunity.Interaction.Client.Name</span>
                                                    </div>
                                                    <div>
                                                        <span class="subtitle">Observaciones:</span>
                                                        <span> @opportunity.Interaction.ObservationsInteraction</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item card-subTitle">
                                                Información de campaña:
                                                @if (opportunity.Campaign != null) {
                                                    <div class="list-group-item subCard">
                                                        <span class="badge badge-pill badge-success">@opportunity.Campaign.Status</span>
                                                        <div>
                                                            <span class="subtitle">Campaña:</span>
                                                            <span> @opportunity.Campaign.CampaignName</span>
                                                        </div>
                                                        <div>
                                                            @if (opportunity.Campaign.ProductsList!= null && opportunity.Campaign.ProductsList.Any())
                                                            {
                                                                @foreach (var product in opportunity.Campaign.ProductsList)
                                                                {
                                                                    <div>
                                                                        <span class="subtitle">Producto:</span>
                                                                        <span>@product.Name</span>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div>
                                                                    <span class="subtitle">Producto:</span>
                                                                    <span>No hay productos.</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                } 
                                                else
                                                {
                                                    <div class="list-group-item subCard">
                                                        <MudTooltip Text="Añadir campaña" Color="Color.Tertiary" Placement="Placement.Top">
                                                            <a href="/opportunity/edit/@opportunity.Id" class="btn btn-light btn-sm">
                                                                <i class="bi bi-plus plus-icon"></i>
                                                            </a>
                                                            <span class="subtitle">Añadir campaña</span>
                                                        </MudTooltip>
                                                    </div>
                                                } 
                                            </li>
                                        </ul>
                                    </div>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </Body>
        </GenericList>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordNumber="SelectedRecordsNumberAsync" />
    </div>
</div>

<script>
    function toggleExtraRow(opportunityId) {
        var extraRow = document.getElementById("extraRow_" + opportunityId);
        if (extraRow.style.display === "none") {
            extraRow.style.display = "block";
        }
        else {
            extraRow.style.display = "none";
        }
    }
</script>
