@page "/opportunities"

<div class="card">
    <div class="card-header">
        <span>
            <i class="oi oi-star"></i> Oportunidades
            <a class="btn btn-sm btn-primary float-end" href="/opportunity/create">
                <i class="oi oi-plus"></i> Nueva Oportunidad
            </a>
        </span>
    </div>

    <div class="card-body">
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <div>
                <select class="form-select" style="width: 400px;" @bind="@Filter">
                    <option value="">Seleccione un estado... </option>
                    @foreach (var status in OpportunityStatus)
                    {
                    <option value="@status">@status</option>
                    }
                </select>
            </div>
            <div class="mx-1">
                <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync"><i class="bi bi-funnel" /> Filtrar</button>
                <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync"><i class="bi bi-x-circle" /> Limpiar</button>
            </div>
        </div>
        <GenericList MyList="Opportunities">
            <Body>
                <table class="table table-hover container">
                    <thead>
                        <tr class="table-secondary table-header table-row">
                            <th style="width:5%">Id</th>
                            <th style="width:10%">Estado</th>
                            <th style="width:25%">Observaciones</th>
                            <th style="width:15%">Fecha de registro</th>
                            <th style="width:15%">Fecha estimada de adquisición</th>
                            <th style="width:20%">Campaña asociada</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var opportunity in Opportunities!)
                        {
                            <tr class="table-row">
                                <td style="width:5%">
                                    @opportunity.Id
                                </td>
                                <td style="width:10%">
                                    @opportunity.Status
                                </td>
                                <td style="width:25%">
                                    @opportunity.OpportunityObservations
                                </td>
                                <td style="width:15%">
                                    @opportunity.RecordDate.ToString("dd/MM/yyyy")
                                </td>
                                <td style="width:15%">
                                    @opportunity.EstimatedAcquisitionDate.ToString("dd/MM/yyyy")
                                </td>
                                <td style="width:20%">
                                    @if (opportunity.CampaingsList!= null)
                                    {
                                        @foreach (var campaign in opportunity.CampaingsList)
                                        {
                                            <span>@campaign.CampaignName</span>

                                            <br />
                                        }
                                    }
                                </td>
                                <td style="width:10%">
                                    <a href="/opportunity/edit/@opportunity.Id" class="btn btn-light btn-sm"
                                       data-toggle="tooltip" title="Editar oportunidad">
                                        <i class="bi bi-pencil"></i>
                                    </a>

                                    <button class="btn btn-light btn-sm" @onclick="@(() => Delete(opportunity.Id))"
                                            data-toggle="tooltip" title="Eliminar oportunidad">
                                        <i class="bi bi-trash"></i>
                                    </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>

        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"></Pagination>
    </div>
</div>
