<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

   <div class="card">
        <div class="card-header">
            <span>
                <i class="oi oi-star" /> Crear Nuevo Cliente
                <a class="btn btn-sm btn-success float-end" href="/clients"><i class="oi oi-arrow-thick-left" /> Regresar</a>
                <button class="btn btn-sm btn-primary float-end mx-2" type="submit"><i class="oi oi-check" /> Guardar Cambios</button>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label>Nombre:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@Client.Name" />
                            <ValidationMessage For="@(()=> Client.Name)" />
                        </div>
                    </div>
        
                         <div class="mb-3">
                            <label>Documento:</label>
                            <div>
                                <InputNumber class="form-control" @bind-Value="@Client.Document" />
                                <ValidationMessage For="@(()=> Client.Document)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>tipo de documento:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@Client.DocumentType" />
                                <ValidationMessage For="@(()=> Client.DocumentType)" />
                            </div>
                        </div>
                    <div class="mb-3">
                        <label>Telefono:</label>
                        <div>
                            <InputNumber class="form-control" @bind-Value="@Client.Telephone" />
                            <ValidationMessage For="@(()=> Client.Telephone)" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <DropList></DropList>                   
                    <div class="mb-3">
                        <label>Dirección:</label>
                        <div>                            
                            <InputText class="form-control" @bind-Value="@Client.Address" />
                            <ValidationMessage For="@(()=> Client.Address)" />
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div> 
</EditForm>

