<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <span>
                <MudButton StartIcon="@Icons.Material.Filled.People" Variant="Variant.Text" Color="Color.Default" Size="Size.Large">@FormName</MudButton>
                <a class="float-end">
                    <MudTooltip Text="Regresar" Color="Color.Tertiary" Placement="Placement.Bottom">
                        <MudFab StartIcon="@Icons.Material.Filled.Undo" href="/clients/" Size="Size.Small" Color="Color.Tertiary" />
                    </MudTooltip>
                </a>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div style="padding-bottom: 1rem;">
                        <MudTextField @bind-Value="Client.Name" Label="Nombre completo:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DriveFileRenameOutline" Clearable="true"/>
                        <ValidationMessage For="@(() => Client.Name)" />
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <MudSelect @bind-Value="@Client.DocumentType" Placeholder="Seleccione tipo de documento" Label="Tipo de Documento:" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.LibraryAddCheck" Clearable="true">
                            <MudSelectItem Value="@("Cedula")" />
                            @* <MudSelectItem Value="@("Cedula")" /> *@
                            <MudSelectItem Value="@("RUT")" />
                            <MudSelectItem Value="@("NIT")" />
                        </MudSelect>
                        <ValidationMessage For="@(() => Client.DocumentType)" />
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <MudTextField @bind-Value="Client.Document" Label="Documento:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Clearable="true" />
                        <ValidationMessage For="@(() => Client.Document)" />
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <MudNumericField @bind-Value="Client.Telephone" Label="Téléfono:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Call" Clearable="true" HideSpinButtons="true" />
                        <ValidationMessage For="@(() => Client.Telephone)" />
                    </div>
                    <div class="col-12">
                                <div div class="col-12 mb-3" style="display: flex; flex-direction: column; align-items:flex-start">
                                    <label style="margin-bottom:0.25rem; font-size: 11pt; letter-spacing: 2px">País:</label>
                                    <select class="form-select" @onchange="CountryChangeAsync">
                                        <option value="0">Seleccione país</option>
                                        @if (countries is not null)
                                        {
                                            @foreach (var country in countries)
                                            {
                                                <option value="@country.Id">@country.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div div class="col-12 mb-3" style="display: flex; flex-direction: column; align-items:flex-start">
                                    <label style="margin-bottom:0.25rem; font-size: 11pt; letter-spacing: 2px">Departamento:</label>
                                    <select class="form-select" @onchange="StateChangedAsync">
                                        <option value="0">Seleccione departamento</option>
                                        @if (states is not null)
                                        {
                                            @foreach (var state in states)
                                            {
                                                <option value="@state.Id">@state.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div div class="col-12 mb-3" style="display: flex; flex-direction: column; align-items:flex-start">
                                    <label style="margin-bottom:0.25rem; font-size: 11pt; letter-spacing: 2px">Ciudad:</label>
                                    <select class="form-select" @bind="Client.CityId">
                                        <option value="0">Seleccione una ciudad</option>
                                        @if (cities is not null)
                                        {
                                            @foreach (var city in cities)
                                            {
                                                <option value="@city.Id">@city.Name</option>
                                            }
                                        }
                                    </select>
                                    <ValidationMessage For="@(() => Client.CityId)" />
                                </div>
                            </div>
                           @* <div class="col-12 mb-3">
                                <label style="margin-bottom:0.25rem; font-size: 11pt; letter-spacing: 2px">Código postal:</label>
                                <InputNumber class="form-control" @bind-Value="@Client.CityId" />
                                      <ValidationMessage For="@(() => Client.CityId)" />
                             </div>
                    <div>
                        <DropList ComponentName="Clientes"></DropList>   
                    </div>*@
                    <div style="padding-bottom: 1rem;">
                        <MudTextField @bind-Value="Client.Address" Label="Dirección:" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddLocationAlt" Clearable="true" />
                        <ValidationMessage For="@(() => Client.Address)" />
                    </div>
                    <div style="padding-bottom: 1rem;">
                        <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Large" Style="width: 100%">Guardar</MudButton>
                    </div>
                </div
            </div>
        </div>
    </div>
</EditForm>